@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #41b883;
  --color-primary-hover: #2b9b69;
  --color-secondary: #1a1a1a;
  --color-tertiary: #5f8bed;
  --color-light: #f3f3f3;
  --color-dark: #000000;
  --color-muted: #aeaeae;
  --color-danger: #d03c3c;
  --color-danger-hover: #e95858;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body,
#app {
  min-height: 100svh;
  max-height: 100svh;
  overflow: hidden;
  height: 100svh;
  width: 100%;
}

body {
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom ScrollBar */
/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--color-primary) transparent;
  }
}

/* Chrome, Edge, and Safari */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar:horizontal,
  ::-webkit-scrollbar:vertical {
    width: 5px;
    height: 5px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 20px;
    background-color: var(--color-primary);
    z-index: 2;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--color-primary);
    z-index: 2;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-secondary);
    z-index: 2;
  }

  ::-webkit-scrollbar-corner {
    background: var(--color-primary);
    z-index: 2;
  }
}
